<!doctype html>
<html>
  <head>
    <meta charset="utf8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="flattr:id" content="1xdo06">

    <title>@Categulario</title>

    <link rel="stylesheet" type="text/css" href="/static/css/home.css" />
  </head>
  <body>
    <div class="container">
      <div class="card">
        <div class="card-upper">
          <div class="card-image"></div>
          <div class="card-info">
            <div class="info-inner">
              <h1>@Categulario</h1>

              <p>Matemático de alta montaña, programador feliz.</p>

              <p>Arqueólogo de software.</p>
            </div>
          </div>
        </div>
        <div class="card-links">
          <ul>
            <li><a href="https://blog.categulario.xyz">📰 Blog</a></li>
            <li><a href="https://gitlab.com/categulario" target="_blank">👨🏽‍💻 Código</a></li>
            <li><a rel="me" href="https://mstdn.mx/@categulario">🐘 Mastodon</a></li>
            <!-- <li><a href="/resume.html">📋 Resumen / CV</a></li> -->
          </ul>
        </div>
      </div>

      <div class="projects">
        <div class="projects-head">
          <h2>Proyectos</h2>

          <p>
            Algo que realmente disfruto es escribir software, y como resultado
            de eso han salido algunos proyectos interesantes. A veces para
            resolver algún problema que tengo, otras para saciar una inquietud o
            curiosidad. Todos ellos están disponibles para quien le puedan ser
            de utilidad.
          </p>

          <p>
            A continuación una selección de los centenares de proyectos que he
            comenzado, el resto de los cuales se pueden encontrar en <a
            href="https://gitlab.com/categulario">gitlab</a> y <a
            href="https://github.com/categulario/">github</a>.
          </p>
        </div>

        <div class="projects-list">
          <div class="col">
            {% for project in projects_col_1 %}
              {% include "components/project.html" %}
            {% endfor %}
          </div>

          <div class="col">
            {% for project in projects_col_2 %}
              {% include "components/project.html" %}
            {% endfor %}
          </div>

          <div class="col">
            {% for project in projects_col_3 %}
              {% include "components/project.html" %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
