<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="description" content="Matemático, programador feliz, guía de montaña una vez al mes. Sitio personal.">
    <title>@Categulario</title>
    <link rel="stylesheet" type="text/css" href="css/resume.css" />
    <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
  </head>
  <body>
    <div id="content">
      <div class="right no-print">
        {% if lang == 'es' %}
          <a href="/resume.pdf">Descargar</a>
          <a href="/resume-en.html">English version</a>
        {% else %}
          <a href="/resume-en.pdf">Download</a>
          <a href="/resume.html">Versión en español</a>
        {% endif %}
      </div>

      <div class="flex-container margin-top">
        <div class="me">
          <img width="200" src="img/me.jpg" />
        </div>
        <div class="quick-info">
          <h1>Abraham Toriz Cruz</h1>

          <h2>{{ 'Consultor Arqueólogo de Software'|trans }}</h2>

          <p>Xalapa, Veracruz, México <span class="only-print">| +52 (55) 3852 0622</span> | <a href="mailto:categulario@gmail.com">categulario@gmail.com</a></p>

          <p>
            <a rel="external" target="_blank" href="https://gitlab.com/categulario" title="Gitlab">{% include 'icons/gitlab.svg' %}</a>
            <a rel="external" target="_blank" href="https://github.com/categulario" title="Github">{% include 'icons/github.svg' %}</a>
            <a rel="external" target="_blank" href="https://categulario.xyz" title="Website">{% include 'icons/web.svg' %}</a>
          </p>
        </div>
      </div>

      <div class="flex-container">
        <div class="about-me">
          <h2>{{ 'Acerca de'|trans }}</h2>

          {% if lang == 'es' %}
            {% include 'fragments/about_es.html' %}
          {% else %}
            {% include 'fragments/about_en.html' %}
          {% endif %}
        </div>
      </div>

      <h2>{{ 'Experiencia profesional'|trans }}</h2>

      {% for project in profesional_experience %}
        <h3>{{ project | translated('title') }} <small class="company">{{ project.company }}</small> <small class="dates">{{ project.year }}</small></h3>

        <ul class="cloud">
          {% for technology in project.technologies %}
            <li>{{ technology }}</li>
          {% endfor %}
        </ul>

        <p>{{ project | translated('description') }}</p>
      {% endfor %}

      <h2>{{ 'Proyectos personales'|trans }}</h2>

      {% for project in personal_projects %}
        <h3><a href="{{ project.link }}" target="_blank">{{ project.title }}</a></h3>

        <ul class="cloud">
          {% for technology in project.technologies %}
            <li>{{ technology }}</li>
          {% endfor %}
        </ul>

        <p>{{ project | translated('description') }}</p>
      {% endfor %}

      <h2>{{ 'Pasatiempos'|trans }}</h2>

      {% if lang == 'es' %}
        {% include 'fragments/hobbies_es.html' %}
      {% else %}
        {% include 'fragments/hobbies_en.html' %}
      {% endif %}

      <hr />

      <p class="right">
        <small class="only-print">{{ 'Versión actualizada disponible en'|trans }} <a href="https://categulario.xyz">categulario.xyz</a></small>
        <small class="no-print">{{ 'Este sitio no se come tus galletas'|trans }}</small>
      </p>
    </div>
  </body>
</html>
