<div class="project">
  {% if project.image %}
    <a href="{{ project.link }}" target="_blank">
      <img src="/static/img/projects/{{ project.image }}" />
    </a>
  {% endif %}
  <div class="project-head">
    <a href="{{ project.link }}" target="_blank">{{ project.title }}</a>
    {% if project.repo_url %}
      <a class="project-source" href="{{ project.repo_url }}" target="_blank">source</a>
    {% endif %}
  </div>
  <div class="project-description">
    <p>{{ project.description }}</p>

    <p class="tags">
      {% for tag in project.tags %}
        <span>{{ tag }}</span>
      {% endfor %}
    </p>
  </div>
</div>
