:root {
    --color-clear: #f2f4ff;
    --color-dark: #2a2d29;
    --color-blue: #5799e0;
    --color-gray: #93acb5;
    --color-prussian-blue: #172A3A;
    --color-steel-teal: #508991;

    --card-image-size: 250px;
    --border-radius: 7px;
    --card-padding: 7px;
    --card-links-height: 40px;
    --gap: 20px;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: rgb(23,42,58);
    background: linear-gradient(207deg, rgba(23,42,58,1) 0%, rgba(9,74,121,1) 100%);
    background-attachment: fixed;
    color: var(--color-clear);
    font-family: Cantarell, sans;
}

a,
a:active,
a:visited {
    color: var(--color-blue);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.card {
    border-radius: var(--border-radius);
    background-color: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    max-width: 600px;
}

.card .card-upper {
    display: grid;
    grid-template-columns: var(--card-image-size) 1fr;
    height: var(--card-image-size);
}

.card .card-upper .card-image {
    background-size: cover;
    background-image: url(/static/img/me.jpg);
}

.card .card-upper .card-info {
    padding: var(--card-padding);
    display: flex;
    align-items: center;
}

.card .card-links ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.card .card-links ul li {
    flex-grow: 1;
}

.card .card-links ul li a {
    display: block;
    width: 100%;
    height: var(--card-links-height);
    line-height: var(--card-links-height);
    text-align: center;
}

.card .card-links ul li a:hover {
    text-decoration: none;
}

.card .card-links ul li:hover {
    background-color: rgba(255, 255, 255, .1);
}

.projects {
    max-width: 1000px;
}

.projects-list {
    display: grid;
    gap: var(--gap);
    grid-template-columns: repeat(3, 1fr);
}

.project {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: var(--border-radius);
    overflow: hidden;
}

.project:not(:first-child) {
    margin-top: var(--gap);
}

.project img {
    width: 100%;
    object-fit: cover;
}

.project .project-head {
    display: flex;
    justify-content: space-between;
}

.project .project-head a {
    font-weight: bold;
    text-decoration: underline;
}

.project .project-head a,
.project .project-head a:link,
.project .project-head a:visited {
    color: white;
}

.project .project-head,
.project .project-description {
    padding: var(--card-padding);
}

.project .tags {
    margin-bottom: 0;
    font-weight: bold;
}

.project .tags span::before {
    content: "#";
    color: #F2A5E6;
}

@media all and (max-width: 600px) {
    .projects-list {
        grid-template-columns: 1fr;
    }
    .projects-list .project {
        grid-column-start: span 1;
    }
}

@media all and (max-width: 600px) {
    .card .card-upper {
        grid-template-columns: 1fr;
        height: auto;
    }
    .card .card-upper .card-image {
        height: 200px;
        background-position: center;
    }
}
