:root {
    --color-licorice: #131515;
    --color-charlestone-green: #2b2c28;
    --color-zomp: #339989;
    --color-pale-robin-egg-blue: #7de2d1;
    --color-snow: #fffafb;
}

@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/Quicksand-Regular.ttf");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    background-color: var(--color-snow);
    color: var(--color-charlestone-green);
}

code {
    background-color: var(--color-pale-robin-egg-blue);
    padding: 2px;
    border-radius: 2px;
}

.margin-top {
    margin-top: 30px;
}

.full-width {
    width: 100%;
}

#title-strings {
    display: none;
}

#content {
    box-sizing: border-box;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 10px;
}

.cloud {
    padding: 0;
    font-weight: bold;
}

.cloud li {
    display: inline;
    color: var(--color-zomp);
}

.cloud li::before {
    content: '#';
    color: var(--color-licorice);
}

.only-print {
    display: none;
}

.right {
    text-align: right;
}

.flex-container {
    display: flex;
    justify-content: space-between;
}

.flex-container .quick-info {
    order: -1;
}

.flex-container .skills {
    width: 320px;
    flex-shrink: 0;
}

@media all and (max-width: 500px) {
    .flex-container {
        display: block;
    }

    .flex-container .me, .flex-container .quick-info {
        text-align: center;
    }

    .flex-container .quick-info {
        order: 1;
    }

    small.company {
        display: block;
    }
}
